<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis molestias ducimus totam, quam quas ipsum, id mollitia facilis dolorum praesentium sed, dolor impedit et sequi quae assumenda error eligendi laudantium unde amet odit. Ea dolores aliquid similique repellat? Provident, recusandae.</p>
    </div>
</div>