<div class="jumbotron mt-4">
    <h1 class="display-4">NOTES APP</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, temporibus accusamus fugiat quaerat magni eligendi est tenetur animi ut sed rerum nobis doloremque iste? Consequatur esse a at cumque veritatis!</p>
    <a href="google.com" class="btn btn-primary btn-lg">GOOGLE</a>
</div>